
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagem</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_raiz.css')}}">
</head>
<body>
    {% for id, personagem in personagens.items() %}
    <div class="container"><h1>{{personagem['nome']}}</h1>
    <img src="{{personagem['imagem']}}">
    <div><p>{{personagem['classe']}}</p></div>
</div>
{% endfor %}
</body>
</html>