<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagem</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_usuario.css')}}">
</head>
<body>
    <div class="container"><h1>Usuário</h1>
        <div>
            <p>Nome: {{nome}}</p>
            <p>Login: {{login}}</p>
            <p> E-mail: {{email}} </p>
            <p>Senha: {{senha}}</p>
            <p>Status: {{ativo}}</p>
            <p>Ultimo Login {{ultimo_login}}</p>
        </div>
    </div>
</body>
</html>